<!DOCTYPE html>
<html>
	<head>
		<title></title>
		
		<link rel="stylesheet" type="text/css" href="./style.css">
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
	</head>

	<body>
		<div id="app">
			<ul>
				<li v-for="list in sharedState.todoLists">
						
					<transition-group name="component-fade" mode="in-out">
						<todo-list-summary 
							v-if="!privateState.mode.edit" 
							v-bind:todo-list="list" 
							v-bind:key="list._id"
						>
						</todo-list-summary>
						
						

						<edit-todo-list 
							v-if="privateState.mode.edit" 
							v-bind:todo-list="list" 
							v-bind:key="list._id"
							v-on:edit:todolist="editTodoList"
						>
						</edit-todo-list>
					</transition-group>

					<button 
						v-bind:key="list._id"
						v-on:click="privateState.mode.edit = !privateState.mode.edit" 
					>
						{{ editMode }}
					</button>
					<button 
						v-bind:key="list._id"
						v-on:click="privateState.mode.detail = !privateState.mode.detail" 
					>
						{{ detailMode }}
					</button>
					<transition-group name="component-fade" mode="in-out">
						<add-todo 
							v-if="privateState.mode.detail"
							v-bind:todo-list="list"
							v-bind:key="list._id"
							v-on:add:todo="addTodo"
						>
						</add-todo>

						<ul 
							v-if="privateState.mode.detail"
							v-bind:key="list._id"
						>
							<li 
								v-for="todo in list.todos"
							>
								<todo-summary 
									v-bind:todo="todo"
								>
								</todo-summary>

								<edit-todo 
									v-bind:todo-list="list" 
									v-bind:todo="todo"
									v-on:edit:todo="editTodo"
								>
									
								</edit-todo>
							
							</li>
						
						</ul>
					
					</transition-group>	
				</li>
			</ul>
			

			<create-todo-list 
				v-on:create:todolist="createTodoList"
			>
			</create-todo-list>
			
		</div>
		

		<script type="text/x-template" id="todo-list-summary-template">
			<div>
				<p>Name: {{todoList.name}}</p> <p>Description: {{todoList.description}}</p>
			</div>
		</script>
		<script type="text/x-template" id="create-todo-list-template">
			<form v-on:submit.prevent="createTodoList($event, name, description)">
				<label> Name:
					<input type="text" name="name" v-model="name">
				</label>
				<label>	Description:
					<input type="text" name="description" v-model="description">
				</label>	
					<button type="submit">Create Todo List</button>
					
			</form>
		</script>
		<script type="text/x-template" id="edit-todo-list-template">
			<form v-on:submit.prevent="editTodoList($event, name, description)">
				<label> Name:
					<input type="text" name="name" v-model="name">
				</label>
				<label>	Description:
					<input type="text" name="description" v-model="description">
				</label>	
					<button type="submit">Edit Todo List</button>
					
			</form>
		</script>
		<script type="text/x-template" id="todo-summary-template">
			<div>
				<p>Todo-Name: {{todo.name}}</p> <p>Todo-Description: {{todo.description}}</p>
			</div>
		</script>
		<script type="text/x-template" id="add-todo-template">
			<form v-on:submit.prevent="addTodo($event, name, description)">
				<label> Name:
					<input type="text" name="name" v-model="name">
				</label>
				<label>	Description:
					<input type="text" name="description" v-model="description">
				</label>	
					<button type="submit">Add Todo</button>
					
			</form>		
		</script>
		<script type="text/x-template" id="edit-todo-template">
			<form v-on:submit.prevent="editTodo($event, name, description)">
				<label> Name:
					<input type="text" name="name" v-model="name">
				</label>
				<label>	Description:
					<input type="text" name="description" v-model="description">
				</label>	
					<button type="submit">Edit Todo </button>
			</form>		
		</script>



		<script type="text/javascript" src="./components.js"></script>
		<script type="text/javascript" src="./store.js"></script>
		<script type="text/javascript" src="./main.js"></script>
	</body>
</html>